<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html charset=Shift_JIS" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" href="https://kt.kanazawa-med.ac.jp/common/keitai_common.css?19870328x68000">
<link rel="stylesheet" href="https://kt.kanazawa-med.ac.jp/common/fontawesome/css/all.css">
<script>window.onunload = function(){}; history.forward();</script>
<title>メニュー</title>
</head>
<body>
<div>
◆携帯ネット.com◆<br />
獅白　　ぼたん<br />
（MX0-0000）<br />
<hr />
	■メニュー<br />
	<a href="../history/Menu_History_Receive.php">受信トレイ（返信）</a><br />
	<a href="../timetable/List_Timetable.php">時間割確認</a><br />
	<a href="../pdf/2023/index.php">学習要項閲覧</a><br />
	<a href="../form/Edit_Form.php?l=nm">メール送信</a><br />
	<a href="../form/Edit_Form.php?l=na">アンケート送信</a><br />
	<a href="../result/List_Result_Enquetes.php">アンケート結果</a>（再送）<br />
	<a href="../history/List_History.php">送信履歴</a>（複製）<br />
	<a href="../history/List_History.php?cf=1">送信予約キャンセル</a><br />
	<br />
	<a href="../address/Edit_Address.php">配信先アドレス変更</a><br />
	<br><a href="../syourei/List_Syourei.php">担当症例入力</a><br />

	<br />
	<a href="../index.php">ログアウト</a>

</div>
</body>
</html>